# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Django
*.sqlite3
media/
staticfiles/
static/

# Logs
*.log

# Docker
*.pid
*.tar

# IDEs
.vscode/
.idea/

# System
.DS_Store
Thumbs.db
