name: Django CI

on:
  push:
    branches: [ "deploy" ]
  pull_request:
    branches: [ "deploy" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: Install dependencies
        working-directory: myproject
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run migrations
        working-directory: myproject
        env:
          DJANGO_SETTINGS_MODULE: myproject.settings_test
        run: |
          python manage.py makemigrations --settings=myproject.settings_test
          python manage.py migrate --noinput --settings=myproject.settings_test

      - name: Run Django Tests
        working-directory: myproject
        env:
          DJANGO_SETTINGS_MODULE: myproject.settings_test
        run: |
          python manage.py test cours --settings=myproject.settings_test --verbosity=2

      - name: Build Docker Image
        working-directory: myproject
        run: |
          docker build -f Dockerfile -t django-app .

      - name: Deploy to production
        uses: johnbeynon/render-deploy-action@v0.0.8
        with:
          service-id: ${{ secrets.RENDER_SERVICE_ID }}
          api-key: ${{ secrets.RENDER_API_KEY }}
